In [1]:
t = (1,2,3)

In [2]:
len(t)

3

In [3]:
t = ('one',2)
t

('one', 2)

In [4]:
t[0]

'one'

In [5]:
t[-1]

2

In [6]:
t.index('one')

0

In [7]:
t.count('one')

1

In [8]:
t[0]= 'change'

TypeError: 'tuple' object does not support item assignment

In [9]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

In [10]:
x = set()

In [12]:
x.add(1)
x

{1}

In [13]:
x.add(2)

In [14]:
x

{1, 2}

In [15]:
x.add(1)

In [16]:
x

{1, 2}

In [17]:
l = [1,1,2,2,3,4,5,6,1,1]

In [18]:
set(l)

{1, 2, 3, 4, 5, 6}

In [19]:
my_dict = {'key1':'value1','key2':'value2'}

In [20]:
my_dict['key2']

'value2'

In [21]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [22]:
my_dict['key3']

['item0', 'item1', 'item2']

In [23]:
my_dict['key3'][0]

'item0'

In [24]:
my_dict['key3'][0].upper()

'ITEM0'

In [25]:
my_dict['key1']

123

In [26]:
my_dict['key1'] = my_dict['key1'] - 123

In [27]:
my_dict['key1']

0

In [28]:
d = {}

In [29]:
d['animal'] = 'Dog'

In [30]:
d['answer'] = 42

In [31]:
d

{'animal': 'Dog', 'answer': 42}

In [34]:
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [35]:
d['key1']['nestkey']['subnestkey']

'value'

In [38]:
d = {'key1':1,'key2':2,'key3':3}

In [39]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [40]:
d.values()

dict_values([1, 2, 3])

In [41]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [42]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [44]:
def say_hello():
    print('hello')

In [45]:
say_hello()

hello

In [46]:
def greeting(name):
    print('Hello %s' %name)
    print('how are you doing %s'%name)

In [47]:
greeting('Jose')

Hello Jose
how are you doing Jose

In [48]:
def add_num(num1,num2):
    return num1+num2

In [49]:
add_num(4,5)

9

In [50]:
result = add_num(4,5)

In [51]:
print(result)

9

In [52]:
print(add_num('one\t','two'))

one	two

In [53]:
def is_prime(num):
    '''
    Naive method of checking for primes. 
    '''
    for n in range(2,num):
        if num % n == 0:
            print('not prime')
            break
    else: # If never mod zero, then prime
        print('prime')

In [54]:
is_prime(11)

prime

In [55]:
import math

def is_prime(num):
    '''
    A Better method of checking for primes. 
    '''
    if num % 2 == 0 and num > 2: 
        return False
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if num % i == 0:
            return False
    return True

In [56]:
is_prime(11)

True

In [57]:
def gencubes(n):
    for num in range(n):
        yield num**3

In [58]:
for x in gencubes(6):
    print(x)

0
1
8
27
64
125

In [59]:
def genfibon(n):
    '''
    Generate a fibonacci sequence up to n
    '''
    a = 1
    b = 1
    for i in range(n):
        yield a
        a,b = b,a+b

In [60]:
for num in genfibon(10):
    print(num)

1
1
2
3
5
8
13
21
34
55

In [61]:
def fibon(n):
    a = 1
    b = 1
    output = []
    
    for i in range(n):
        output.append(a)
        a,b = b,a+b
        
    return output

In [62]:
fibon(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [63]:
print(list(range(3)))

[0, 1, 2]

In [64]:
def simple_gen():
    for x in range(3):
        yield x

In [65]:
g = simple_gen()

In [66]:
print(next(g))

0

In [67]:
print(next(g))

1

In [68]:
print(next(g))

2

In [69]:
print(next(g))

StopIteration:

In [70]:
s = 'hello'
for i in s:
    print(i)

h
e
l
l
o

In [71]:
next(s)

TypeError: 'str' object is not an iterator

In [72]:
s_iter = iter(s)

In [73]:
next(s_iter)

'h'

In [74]:
next(s_iter)

'e'

In [75]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
    
temp = [0, 22.5, 40,100]

In [76]:
F_temps = list(map(fahrenheit, temp))
F_temps

[32.0, 72.5, 104.0, 212.0]

In [77]:
list(map(celsius, F_temps))

[0.0, 22.5, 40.0, 100.0]

In [78]:
list(map(lambda x: (5.0/9)*(x - 32), F_temps))

[0.0, 22.5, 40.0, 100.0]

In [79]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12]

list(map(lambda x,y:x+y, a,b))

[6, 8, 10, 12]

In [80]:
list(map(lambda x,y,z:x+y+z, a,b,c))

[15, 18, 21, 24]

In [81]:
from functools import reduce
lst =[47,11,42,13]
reduce(lambda x,y: x+y,lst)

113

In [82]:
max_find = lambda a,b: a if (a > b) else b

In [83]:
print(lst)
reduce(lambda a,b: a if (a > b) else b,lst)

[47, 11, 42, 13]

47

In [84]:
def even_check(num):
    if num%2 ==0:
        return True

In [85]:
lst =range(20)
print(list(lst))

list(filter(even_check,lst))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [86]:
list(filter(lambda x: x%2==0,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]